/**
*
*  存放公共样式和变量
*
*/

//顶部高度变量
$page-header_height:70px;
//距离下方内容的距离
$page-header_margin_bottom:4px;

//蓝色
$zngl-blue: #47A4EC;
//橙色
$zngl-orange: #F89702;
//红色
$zngl-red: #F56C6C;
// 绿色
$zngl-green: #67C23A;


//蓝色
.zngl-blue {
    color: $zngl-blue;
}
//橙色
.zngl-orange {
    color: $zngl-orange;
}
//红色
.zngl-red {
    color: $zngl-red;
}
//绿色
.zngl-green {
    color: $zngl-green;
}


