//存放公共样式

//自定义滚动条
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.15);
    padding: 0;
    border: none;
    overflow-x: visible;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
    padding: 0;
    border: none;
    width: 20px;
}

/*el-image 占位图样式*/
.img_slot {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(245, 247, 250);
    color: #000;
}

// 隐藏滚动条
.scrollbar_nowidth {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.z-relative,
.z-rela {
    position: relative;
}

.z-absolute,
.z-abso {
    position: absolute;
}

.z-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.z-flex-wrap {
    flex-wrap: wrap;
}

.z-flex-nowrap {
    flex-wrap: nowrap;
}

.z-col-center {
    align-items: center;
}

.z-col-top {
    align-items: flex-start;
}

.z-col-bottom {
    align-items: flex-end;
}

.z-row-center {
    justify-content: center;
}

.z-row-left {
    justify-content: flex-start;
}

.z-row-right {
    justify-content: flex-end;
}

.z-row-between {
    justify-content: space-between;
}

.z-row-around {
    justify-content: space-around;
}

.z-text-left {
    text-align: left;
}

.z-text-center {
    text-align: center;
}

.z-text-right {
    text-align: right;
}

.z-flex-col {
    display: flex;
    flex-direction: column;
}

.z-flex-shrink {
    flex-shrink: 0;
}

/*min-width*/
.min-width-0 {
    min-width: 0;
}

.z-csp {
    cursor: pointer;
}

.z-clearfix {
    *zoom: 1;

    /*ie6 7 不支持伪元素*/
    &:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        line-height: 0;
        //允许浏览器渲染它，但是不显示出来
        visibility: hidden;
    }
}


.z-ib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.z-dn {
    display: none;
}

.z-db {
    display: block;
}

.z-nowrap {
    word-wrap: normal;
    white-space: nowrap;
}

.z-wrap {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
}

.z-oh {
    overflow: hidden;
}

.z_font_bold {
    font-weight: bold;
}
