/**
*定义内外边距，历遍1-100
*example : .m-40 .p-40 .m-top-40 .m-bottom-40 .m-left-40 .m-right-40
*  .p-top-40 .p-bottom-40 .p-left-40 .p-right-40
**/

@for $i from 0 through 100 {

    .margin-#{$i},
    .m-#{$i} {
        margin: $i + px;
    }

    // 得出：padding-30或者p-30
    .padding-#{$i},
    .p-#{$i} {
        padding: $i + px;
    }

    @each $short,
    $long in l left,
    t top,
    r right,
    b bottom {

        // 缩写版，结果如： m-l-30
        // 定义外边距
        .m-#{$long}-#{$i} {
            margin-#{$long}: $i + px;
        }

        // 定义内边距
        .p-#{$long}-#{$i} {
            padding-#{$long}: $i + px;
        }

        // 缩写版，结果如： margin-l-30
        // 定义外边距
        .margin-#{$short}-#{$i} {
            margin-#{$long}: $i + px;
        }

        // 定义内边距
        .padding-#{$short}-#{$i} {
            padding-#{$long}: $i + px;
        }

        // 结果如：margin-left-30
        // 定义外边距
        .margin-#{$long}-#{$i} {
            margin-#{$long}: $i + px;
        }

        // 结果如：padding-left-30
        // 定义内边距
        .padding-#{$long}-#{$i} {
            padding-#{$long}: $i + px;
        }
    }
}


/**
*定义字体大小，历遍1-40
*example : .font-40
**/

@for $i from 0 through 40 {

    // 得出：font-30
    .font-#{$i} {
        font-size: $i + px;
    }
}


/**
*多行文本溢出显示省略号 1-3
*example : .text-ellipsis-1 .text-ellipsis-2 .text-ellipsis-3
**/

@for $i from 1 through 3 {

    // 得出：font-30
    .text-ellipsis-#{$i} {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $i;
        -webkit-box-orient: vertical;
    }
}
